body{
    background-image: url(img1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: rgba(35, 37, 149, 0);
    width: 95%;
    margin-left: 10px;
}
.navbar ul{
    font-family: cursive;
    font-size: 25px;
    list-style-type: none;
    text-align: center;
}
.navbar ul li{
    display: inline-block;
    border: 1px solid whitesmoke;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;

}
.navbar ul li a{
    color: ghostwhite;
    text-decoration: none;
    
}
.navbar ul li:hover, a:hover{
    background-color: seashell;
    border: 1px solid black;
}



.navbar ul li a:hover{
    color: black;
} 
h1{
    text-align: center;
    font-size: 26px;
    letter-spacing: 6px;
    color: ghostwhite;
    margin-top: 50px;
    font-weight: 1000;

}
.container{
    margin-top: 55px;
    width: 70%;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img2.jpg);
    background-size: cover;
    box-shadow: 2px 6px 15px 5px rgb(231, 253, 255);
    animation: slider 30s infinite linear;
    display: inline-block;
}
@keyframes slider{
    0%{
        background-image: url(img2.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }
    11%{background-image: url(img1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    22%{
        background-image: url(img3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    33%{
        background-image: url(img4.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    44%{
        background-image: url(img5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    55%{
        background-image: url(img6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    66%{
        background-image: url(img7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    77%{
        background-image: url(img8.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    88%{
        background-image: url(img13.jpeg);
    }
  
   
}